.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}

.nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.bTop {
  position: relative;
  background-color: var(--breadTop);
  width: 380px;
  height: 115px;
  margin: 0 auto;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 10px solid var(--edge);
  z-index: 8;
}

.bun {
  position: absolute;
  background-color: var(--edge);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.bBottom {
  background-color: var(--breadBottom);
  width: 380px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50px;
  border: 10px solid var(--edge);
}

.meat {
  position: relative;
  background-color: var(--meat);
  width: 380px;
  height: 45px;
  margin: 0 auto;
  border-radius: 50px;
  border: 10px solid var(--edge);
  z-index: 5;
}

.lettuce,
.cheese {
  position: relative;
}

.lettuce1 {
  position: absolute;
  height: 120px;
  width: 60px;
  left: 80px;
  top: -50px;
  transform: rotate(65deg);
  z-index: 4;
  border-radius: 50px;
  background-color: var(--lettuce);
}

.lettuce2 {
  position: absolute;
  height: 120px;
  width: 60px;
  right: 80px;
  top: -50px;
  transform: rotate(-65deg);
  z-index: 4;
  border-radius: 50px;
  background-color: var(--lettuce);
}

.lettuce3 {
  position: absolute;
  height: 60px;
  width: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 50px;
  background-color: var(--lettuce);
}

.cheese1 {
  position: absolute;
  height: 50px;
  width: 60px;
  top: -75px;
  left: 130px;
  transform: rotate(45deg);
  z-index: 5;
  border: 10px solid var(--edge);
  background-color: var(--breadTop);
}
.cheese2 {
  position: absolute;
  height: 50px;
  width: 60px;
  top: -75px;
  right: 130px;
  transform: rotate(45deg);
  z-index: 5;
  border: 10px solid var(--edge);
  background-color: var(--breadTop);
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
