.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.box_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 2;
  font-size: 18px;
  cursor: pointer;
}
